nav{
    /*Där det finns länkar till olika delar av hemsidan*/

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list{
    /*Där dom tre länkarna i navigationen är*/

    display: flex;
    list-style-type: none;
}

main{
    /*Där större delen av hemsidan fins*/
}

header{
    /*Där heron är, första men ser när man går in på hemsidan*/

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: lightskyblue;
    justify-content: center;
    min-height: 200px;
    
}

h1{
    margin-top: 0px;
}

h2{
    margin-left: 15%;
}

a{
    padding-right: 20px;
    text-decoration-line: none;
    color: black;
}

section{
    /*Där en del av hemsidan är*/
}

.cards-list{
    /*Där korten är*/

    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    gap: 10px;
}

.card{
    /*Där vad som är i korten är*/
    border: 1px solid black;
    background-color: grey;
    list-style-type: none;
    flex-grow: 1;
    min-width: 300px;
}

@media screen and (max-width: 768px) {
    .cards-list{
        flex-direction: column;
    }

    nav{
        flex-direction: column;
    }
}

footer{
    /*Där man har en grej på slutet*/

    border: 1px solid black;
    background-color: gray;
    display: flex;
    justify-content: center;
}