nav{
    /*Där det finns länkar till olika delar av hemsidan*/

    display: flex;
    justify-content: space-around;
}

.nav-list{
    /*Där dom tre länkarna i navigationen är*/

    display: flex;
    list-style-type: none;
}

main{
    /*Där större delen av hemsidan fins*/
}

header{
    /*Där heron är, första men ser när man går in på hemsidan*/

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: grey;
}

section{
    /*Där en del av hemsidan är*/
}

.cards-list{
    /*Där korten är*/

    display: flex;
    justify-content: space-around;
    max-width: 60%;
}

.card{
    /*Där vad som är i korten är*/
    border: 1px solid black;
    background-color: grey;
    flex-grow: 1;
    list-style-type: none;
}

footer{
    /*Där man har en grej på slutet*/
}